/*============
general styles
=============*/
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

h2.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*============
header section
=============*/

.site-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.site-navigate {
  display: flex;
  align-items: center;
}

.contact-list {
  gap: 40px;
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.contact-info {
  margin-left: auto;
  font-style: normal;
}
.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
}

.list {
  display: block;
  text-decoration: none;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list.current {
  position: relative;
}

.list.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.site-navigate {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  display: flex;
  align-items: center;
}
.head-link {
  margin-right: 76px;
  padding: 24px 0;
}
.logo-studio {
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 1.16667;
  color: #2e2f42;
}
.nav-list {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
section {
  padding: 120px 0;
}

.info-list {
  display: block;
  padding: 24px 0;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list:hover,
.list:focus,
.info-list:hover,
.info-list:focus,
.list.current {
  color: #404bbf;
}

/*============
section #1
=============*/

.color {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/backgrimg.jpg');
  color: #fff;
  font-weight: 700;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.page-title {
  max-width: 496px;
  margin: 0 auto 48px auto;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.service-button {
  border: none;
  display: block;
  margin: o;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.service-button:hover,
.service-button:focus {
  background-color: #404bbf;
}

/*============
Advantages section #2
=============*/

.title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.item-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  height: 112px;
  width: 264px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.text-title {
  color: #434455;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.conteiner-adadvantages {
  display: flex;
}
.section-two-list {
  display: flex;
  max-width: 1128px;
  gap: 24px;
}
.section-two-items {
  width: calc((100%-72) / 4);
}
.title-two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

/*============
team section #3
=============*/
.team-color {
  display: flex;
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  gap: 24px;
}

.social-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-item {
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* скоріш не треба рядок 314 */
.manager {
  padding: 32px 0;
}
.team-color .team-item {
  background-color: #fff;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-title {
  text-align: center;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-name {
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.team-role {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  font-weight: 400;
  margin-bottom: 8px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 50%;
  gap: 24px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list {
  display: flex;
  width: 232px;
  height: 40px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.team-sociallink {
  fill: #f4f4fd;
}
/*============
portfolio section #4
=============*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.tumb-img {
  position: relative;
  overflow: hidden;
}

.overlay-color {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  overflow: auto;
  transform: translateY(100%);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay-color {
  transform: translateY(0);
}

.portfolio-container {
  display: flex;
  flex-direction: column;
}
.team-portfolio {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.post-title {
  text-align: left;
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}
.portfolio-border {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/*============
footer 
=============*/

.section-color {
  padding: 100px 0;
  background-color: #2e2f42;
}
.text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.footer-logo {
  margin-bottom: 16px;
}
.studio {
  font-family: 'Raleway';
  font-size: 18px;
  color: #f4f4fd;
  line-height: 1.16667;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.container-logo {
  margin-right: 120px;
}

.social-media-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.social-footer-list {
  display: flex;
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 0 auto;
}

.social-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 50%;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sociallink {
  fill: #f4f4fd;
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: #31d0aa;
}
